html, body, #root {
  height: 100%;
}

/* Background animation */
@keyframes move {
  to { transform: translate3d(0, 0, 1px) rotate(360deg); }
}

.background {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100dvh;                 /* better on mobile Safari */
  background: #351e52;
  overflow: hidden;
  pointer-events: none;           /* clicks pass through */
  z-index: 0;
}

.background span {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  backface-visibility: hidden;
  position: absolute;
  animation: move linear infinite;
  animation-duration: 15s;        /* fix: add unit */
}


.background span:nth-child(0) {
    color: #4d4d4d;
    top: 51%;
    left: 80%;
    animation-duration: 272s;
    animation-delay: -261s;
    transform-origin: -22vw -19vh;
    box-shadow: -20vmin 0 3.361132479422801vmin currentColor;
}
.background span:nth-child(1) {
    color: #242424;
    top: 96%;
    left: 92%;
    animation-duration: 8s;
    animation-delay: -147s;
    transform-origin: 25vw -8vh;
    box-shadow: 20vmin 0 2.594835722361271vmin currentColor;
}
.background span:nth-child(2) {
    color: #242424;
    top: 59%;
    left: 90%;
    animation-duration: 178s;
    animation-delay: -144s;
    transform-origin: -16vw -17vh;
    box-shadow: -20vmin 0 3.0402763522960288vmin currentColor;
}
.background span:nth-child(3) {
    color: #242424;
    top: 28%;
    left: 9%;
    animation-duration: 20s;
    animation-delay: -5s;
    transform-origin: 6vw 12vh;
    box-shadow: -20vmin 0 3.192496965243324vmin currentColor;
}
.background span:nth-child(4) {
    color: #242424;
    top: 68%;
    left: 51%;
    animation-duration: 37s;
    animation-delay: -129s;
    transform-origin: -7vw 11vh;
    box-shadow: 20vmin 0 3.4356095791192773vmin currentColor;
}
.background span:nth-child(5) {
    color: #3b3b3b;
    top: 5%;
    left: 58%;
    animation-duration: 240s;
    animation-delay: -168s;
    transform-origin: 11vw -15vh;
    box-shadow: 20vmin 0 3.112895738440211vmin currentColor;
}
